<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FTP同步任务1</title>
<link rel="stylesheet" href="layui/css/layui.css">
<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/ftpFileLink.css">
<link href="json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet">
</head>
<body class="body-content">
		<ul class="list-inline bg-primary go-back" style="display: none">
			<li><span class="glyphicon glyphicon-arrow-left go-back-btn" aria-hidden="true"></span></li>
		</ul>
	<table id="fileList" class="table-no-bordered">
	</table>
	<pre id="json-renderer"></pre>
	<script src="js/utils.js"></script>
	<script src="js/common/jquery.min.js"></script>
	<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="layui/layui.js"></script>
	<script src="js/common/bootstrap-table.js"></script>
	<script src="json-viewer/jquery.json-viewer.js"></script>
	<script src="js/ftpFileLink.js"></script>
</body>
</html>